.card {
  @extend .card;
  border: 1px solid $gray-200;
  border-radius: $rounded-md;
  box-shadow: $shadow-md;
  background-color: $white;
}

.dark {
  .card {
    background-color: $gray-900;
    color: $white;
    border: 1px solid $gray-700;
  }
}


// ===========================================
// CARD LINK SYSTEM
// ===========================================

// Base card link behavior
.card-link {
  display: flex;
  height: 100%;

  .filled-link {
    display: flex;
    flex: 1;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    outline-style: solid;
    outline-offset: 2px;
    outline-color: transparent;
    border-radius: $rounded-md;

    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: $shadow-sm;
      //outline-color: color-mix(in srgb, var(--nav-color), transparent 50%);
    }
  }
}

// ===========================================
// CARD WITH BACKGROUND ICON
// ===========================================

.card:has(.card-bg-icon),
#meeting-card {
  position: relative;
  overflow: hidden;

  .card-body {
    z-index: 1;
    position: relative;
  }
}

// Background icon
.card-bg-icon,
.meeting-card-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transition: all 0.2s ease-in-out;

  // SVG icon style
  .plone-icon {
    width: 88px;
    height: 88px;
    z-index: -1;
    fill: transparentize($grey-200, 0.40);
    transition: fill 0.2s ease-in-out;
  }

  // Font icon style (Bootstrap icons, etc.)
  i {
    font-size: 100px;
    color: $grey-200;
    transition: color 0.2s ease-in-out;
  }
}

.card-bg-icon {
  rotate: -45deg;
  z-index: 0;
}

.meeting-card-icon {
  right: 25px;
  bottom: -50px;

  // Day number overlay on calendar icon
  .meeting-card-icon-day {
    position: absolute;
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    text-align: center;
  }
}

// ===========================================
// MEETING CARD SPECIFIC
// ===========================================

#meeting-card {
  display: flex;
  background-color: $white;
  border-radius: $rounded-md;
  height: 100%;
  min-height: 100%;
  align-self: stretch;
  justify-self: stretch;

  // Inherit link behavior
  transition: outline-color 0.2s ease-in-out;
  outline-style: solid;
  outline-offset: 2px;
  outline-color: transparent;

  // Content styles
  .meeting-type {
    font-style: italic;
    color: $grey-700;
    text-transform: uppercase;
    font-weight: 400;
  }

  .meeting-title {
    font-size: 1.25em;
    font-weight: bold;
    color: $grey-900;
    text-decoration: none;
  }

  .meeting-item-number {
    font-size: 0.9rem;
    min-width: 80px;
    font-weight: bold;
    width: 60%;
    border-top: 1px dashed $grey-400;
    margin-top: 0.25em;
    padding-top: 0.25em;
  }

  // Hover state
  &:hover {
    cursor: pointer;
    outline-color: color-mix(in srgb, var(--nav-color), transparent 50%);

    .meeting-card-icon {
      i {
        color: color-mix(in srgb, var(--nav-color), transparent 75%);
      }
    }
  }
}

// ===========================================
// GENERIC HOVER EFFECT FOR CARDS WITH BG ICON
// ===========================================

.card-link:hover,
.card-link:focus-within {

  outline-offset: 2px;
  outline: color-mix(in srgb, var(--nav-color), transparent 50%) solid 3px;

  .card-bg-icon {
    .plone-icon {
      fill: color-mix(in srgb, var(--nav-color), transparent 75%);
    }

    i {
      color: color-mix(in srgb, var(--nav-color), transparent 75%);
    }
  }
}

.item-card {
  @extend .card;
  position: relative;
  overflow: hidden;
  box-shadow: $shadow-md;
  outline-color: transparent;
  padding: 1em;
  display: flex;
  flex-direction: column;

  .meeting-title-link {
    @extend .btn;
    @extend .btn-light;
    color: $grey-900;
    background-color: $white;
    border: 1px solid $grey-200;
    box-shadow: $shadow-sm;
    text-decoration: none;
    z-index: 10;
  }

  .meeting-title-link:hover {
    background-color: $grey-200;
  }

  .card-title {
    margin-bottom: 0.5em;
    font-weight: 600;
    text-align: justify;
    p {
      margin: 0;
      text-align: justify;
    }
  }

  #description-row {
    font-style: italic;
    color: $grey-700;
    background-color: $grey-100;
    margin-left: -16px;
    margin-right: -16px;
    padding: 1em 0;

    p {
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
    }

    border-top: 1px solid $grey-200;
    border-bottom: 1px solid $grey-200;

  }

  //#description-row:after {
  //  content: " ";
  //  position: absolute;
  //  z-index: -1;
  //  background-color: $grey-100;
  //  top: 0;
  //  margin-left: -4px;
  //  margin-right: -4px;
  //  height: 100%;
  //  width: calc(100% + 8px);
  //}

  #content-metadatas-number {
    min-width: 150px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 1em 0 0;
  }

  .item-number-bg {
    color: $grey-900;
    font-size: 5em;
    font-weight: 100;
    z-index: 1;
    letter-spacing: -0.1em;
    line-height: 56px;
    position: absolute;
    bottom: 10px;
    right: 25px;
  }

  .item-number-bg::after {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 5px;
    right: -13px;
    bottom: 2px;
    background-color: color-mix(in srgb, var(--nav-color), transparent 80%);
    z-index: 0;
  }


  &:hover {
    outline-style: solid;
    outline-offset: 2px;
    outline-color: color-mix(in srgb, var(--nav-color), transparent 25%);
    //background-color: transparentize(var(--nav-color), 0.25);
    transition: outline-color 0.20s ease-in-out;
    //.item-number-bg {
    //  color: $white;
    //}

    .item-number-bg::after {
      background-color: color-mix(in srgb, var(--nav-color), transparent 25%);
    }
  }


  .content-metadatas {
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    color: $grey-800;

    .content-metadatas-col {
      flex: 1;
    }

    #content-metadatas-number {
      flex: 0
    }

    .item-metadata-row {
      border-bottom: 1px dashed $grey-600;
    }

    .item-metadata-row:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .item-metadata-row {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
  }


  .item-metadata-label {
    font-weight: 600;
    flex: 1;
  }

  .item-metadata {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }
}
