.portaltype-item {

  #content h1, h1 {
    font-size: 1.4em;
    padding: 0;
    margin-bottom: 1em;
    font-weight: 600;
  }


  .project-warning {
    margin-bottom: 0;

    p {
      margin-bottom: 0.5em;
      font-size: .90em;
      //text-shadow: rgba(255, 204, 0, 0.62) 1px 0 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }


  .item-content {
    padding: 3rem 3rem;

    h2 {
      font-size: 1em;
      margin-bottom: 1em;
      font-weight: 600;
    }
  }
}

.offcanvas-header {
  box-shadow: $shadow-md;
  z-index: 1;
}

.offcanvas.offcanvas-end {
  top: 16px;
}

.plone-toolbar-top .offcanvas.offcanvas-end {
  top: 56px;
}

#meeting-agenda {
  .offcanvas-body {
    padding: 0;
  }

  .items-list {
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      color: $grey-900;
    }

    p {
      margin-bottom: 0;
    }
  }

  .item-line {
    display: flex;
    padding: 0.5em 0;
    border-bottom: 1px solid $grey-300;
    transition: background-color 0.20s ease-in-out;

    .item-number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      font-weight: bold;
    }

    .item-title {
      flex: 1;
      text-transform: initial;
      padding-right: 1em;
      text-align: justify;
    }

  }

  .item-line:hover {
    background-color: $grey-100;
  }

}

#publication-dates {
  border-right: 1px solid $grey-300;
}

.item-content {
  h3 {
    font-size: 1.25em;
    margin-bottom: 1em;
    font-weight: 600;
  }
}

.dark {
  .meeting-card-icon {
    i {
      color: $grey-700;
    }
  }

  #publication-dates {
    border-color: $grey-700;
  }

  .meeting-type {
    color: $grey-200;
  }

  .meeting-title {
    color: $grey-100;
  }
}

@include media-breakpoint-down(lg) {
  #publication-dates {
    border-right: 0;
    padding-top: 0.5rem;
    border-top: 2px solid $grey-300;
  }
}
@include media-breakpoint-down(md) {
    .portaltype-item .item-content {
      padding: 1rem 1rem;
    }
}
